.profil{
    width: 80%;
    margin-top: 20vh;
    margin-right: auto;
    margin-left: auto;
}

.zoneProfil{
    display: flex;
    background-color: #016D77;
    border-radius: 2em;
    padding: 50px;
}

.infoPerso{
    width: 50%;
    border-right: 10px solid white;
}

.champProfil p{
    font-size: 1em;
    text-align: left;
    margin: 5px 0;
    color: #EBF5F7;
}

p#first{
    margin-top: 0;
}

.champProfil p:first-child {
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 5vh;
}

.diagnostic{
    width: 50%;
    padding-left: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.diagnostic button{
    font-size: 18pt;
    width: 50%;
    padding: 50px;
}