.formPatient, .registrationForm{
    width: 80%;
    margin-top: 20vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

img#logo{
    width: 6%;
    position: absolute;
    top: 20px;
    left: 100px;
}

h1{
    width: 100%;
    color: #016D77;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.registrationForm form{
    width: 100% !important;
}

.troisInput{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.troisInput .formInput{
    width: 25% !important;
}

.formPatient form, .registrationForm form{
    width: 40%;
    background: #016D77;
    border-radius: 2rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 30px;
}

.registrationForm .formInput{
    width: 40%;
    text-align: left;
    margin: 20px 0;
}

.registrationForm label{
    color: #EBF5F7;
    font-size: 1.5em;
    text-align: left;
    width: 100%;
}

.registrationForm input{
    margin: 10px 0 0 0 !important;
}

.registrationForm select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 1.1em;
    padding: 1em;
    width: 100%;
    border: none;
    border-radius: 2rem;
}

.formPatient input, .registrationForm input{
    border-radius: 2rem;
    width: 100%;
    padding: 1em 0 1em 1em;
    margin: 20px 0;
    border: none;
    outline: none;
    color: #3c354e;
    font-size: 1rem;
    font-weight: bold;
}

#buttonContainer{
    width: 50%;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
}

button{
    width: 100%;
    padding: 1rem 0;
    background-color: #83C4BD;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12pt;
    border: 3px solid #EBF5F7;
    border-radius: 2rem;
    cursor: pointer;
    transition: 0.5s;
}

button:hover{
    background-color: #EBF5F7;
    border: 3px solid #016D77;
    color: #016D77
}




input:focus {
    display: inline-block;
    box-shadow: 0 0 0 0.2rem #b9abe0;
    backdrop-filter: blur(12rem);
    border-radius: 2rem;
}
input::placeholder {
    color: #3c354e;
    font-weight: 100;
    font-size: 1rem;
}

.pass1{
    font-style: italic;
    position: absolute;
    left: 36%;
    top: 65%;
    transform: translate(-50%, -50%);
}

.formPatient ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: absolute;
    top : 20px;
    right : 12%;
    font-size: 20pt;
}

li {
    float: left;
}

li a {
    display: block;
    color: #016D77;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.2s
}

li a:hover {
    color: #7ca8d4;
    font-weight: bold;
}

li#active a{
    color: #c0c0c0;
}

li#active a:hover{
    color: #c0c0c0;
    font-weight: normal;
}
img#notification, #notif2{
    width: 5%;
    position: absolute;
    top: 10px;
    right: 0;
}
#WrongGlycemie {
    color: red;
}